@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Jost-M';
    src: url('fonts/Jost/Jost-Medium.ttf')  format('truetype')
}

@font-face {
    font-family: 'Jost-L';
    src: url('fonts/Jost/Jost-Light.ttf')  format('truetype')
}

@font-face {
    font-family: 'Jost-B';
    src: url('fonts/Jost/Jost-Bold.ttf')  format('truetype')
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost-M';
}

table {
    margin-top: 20px;
	margin-bottom: 20px;
	border: 2px solid black;
	border-collapse: collapse;
}
table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #999999;
}
table td {
	border: 1px solid #999999;
	padding: 5px;
}

.authInput {
    height: 40px;
    width: 300px;
    margin-bottom: 10px;
    font-size: 18px;
    padding-left: 10px;
    border: 2px solid black;
    &:focus {
        background-color: transparent;
        outline: none;
        border: 2px solid black;
    }
}

.bigAuthInput {
    height: 160px;
    width: 300px;
    margin-bottom: 10px;
    font-size: 18px;
    padding-left: 10px;
    padding-top: 10px;
    border: 2px solid black;
    resize: none;
    word-wrap: break-word;
    &:focus {
        background-color: transparent;
        outline: none;
        border: 2px solid black;
    }
}

.authButton {
    width: 300px;
    height: 40px;
    background-color: black;
    border: 2px solid black;
    color: white;
    &:hover {
        cursor: pointer;
        background-color: white;
        color: black;
    }
}

.centerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
	background-color: black;
	border: 2px black solid;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
    cursor: pointer;
	&:hover{
		background-color: white;
		color: black;
	}
}
.redBtn{
	background-color: darkred;
	border: 2px darkred solid;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
    cursor: pointer;
	&:hover{
		background-color: white;
		color: darkred;
	}
}

.linkBtn{
	// width: 100px;
	height: 30px;
	background-color: black;
	border: 2px black solid;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	&:hover{
		background-color: white;
		color: black;
	}
}

.backBtnPos{
    position: fixed;
    bottom: 40px;
    left: 50px;
}

.deleteBtnPos{
    position: fixed;
    bottom: 30px;
    right: 40px;
}

.usersBtnPos{
    position: fixed;
    bottom: 40px;
    right: 50px;
}

.headerContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    border: black 2px solid;
    margin-top: 10px;
    height: 50px;
}

.input{
    border: 2px black solid;
    height: 30px;
    padding: 4px;
    &:focus{
        outline: none;
        // border: 3px black solid;
    }
}

.bigLeftBackBtnContainer{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.25;
    cursor: pointer;    
    &:hover{
        opacity: 1;
        background: rgb(230,230,230);
        background: linear-gradient(90deg, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 100%); 
    }
    & img{
        margin-right: 28px;
        width: 42px;
    }
}

.orgSideMenu{
    position: fixed;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}