# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules
/client/public/files
/client/.pnp
/client.pnp.js

# testing
/client/coverage

# production
/client/build


/server/node_modules

# config connection files
/client/src/consts.tsx
/server/db.js