.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.errorContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & button{
        width: 100px;
        margin-top: 10px;
        &:hover{
            text-decoration: underline;
        }
    }
}