.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

table {
    margin-top: 20px;
	width: 90vw;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse; 
}
table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
table td {
	border: 1px solid #dddddd;
	padding: 5px;
}

.td1{
	width: 200px;
	word-break: break-all;
}

.tempLinkBtn{
	width: 100px;
	height: 30px;
	background-color: black;
	border: 2px black solid;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	&:hover{
		background-color: white;
		color: black;
	}
}

a{
	text-decoration: none;
}